$background-color: rgba(240,184,104,1);
$color: rgb(255, 255, 255);
$border: 1px solid rgba(0, 0, 0, 0.5);
$box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
$color: white;
$background-color: sienna;
$background-color: rgb(30, 30, 30);

